@{
    ViewData["Title"] = "Home";
}
<div id="homepage-container">
    <h1>Home Page this is</h1>
    <div class="text-center" id="homepage">
        <h1 class="display-4">Welcome To BulkyBooks</h1>
        <p>Learn about <a href="https://onlinebooks.library.upenn.edu/titles.html">Click here</a> to get More information for BulkyBooks.</p>
    </div>
    <div class="text-center">
        <h3>Bulky Books Home Page</h3>
    </div>
    <div class="text-center">
        <img src="~/images/pravacy_image.jpg" style="width:60%;" />
    </div>
</div>